/*need to create proper margins to align pictures evenly*/

#pic1 {
  margin: 20px 40px;
  padding: 10px;
}

#pic2 {
  margin: 20px 40px;
  padding: 10px;
}

#pic3 {
  margin: 20px 40px;
  padding: 10px;
}

#pic4 {
  margin: 20px 40px;
  padding: 10px;
}

.column {
  float: left;
  width: 400px;
  padding: 5px;
  text-align: center;
  padding: none;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
